%tr{:class => host.status}
  %td
    %h1= link_to(h(host.name), host_path(host))
    Address:
    = h host.address
    - if host.application
      \-
      Application: 
      = h host.application.try(:name)
    - if host.status != "normal"
      %br
      = "#{host.status.titleize}:"
      = host.checks.all(:conditions => { :status => host.status }).collect { |c| c.script.name.titleize }.join(", ")