- form.inputs do
  = form.input :name, :label => 'Name'
  = form.input :filename, :label => 'Filename'
  = form.input :boundary_normal, :label => 'Boundary normal'
  = form.input :boundary_warning, :label => 'Boundary warning'
  = form.input :boundary_critical, :label => 'Boundary critical'
