%h1.heading
  = "Hosts"

.actions-bar
  %div{:class => "left search"}
    - form_for @search do |f|
      = f.label "Find:"
      = f.text_field :name
      = f.submit("Search")
  .right
    = will_paginate @collection, :prev_label => "&laquo; Back", :next_label => "Next &raquo;"
  .clear                                                                                     
  
  
%p.actions
  = link_to 'New Host', new_host_path
  
%table
  %thead.header
    %tr
      %th.name= 'Name'
      %th.address= 'Address'
      %th.actions= 'Actions'
  %tbody.items.hosts
    - @hosts.each do |host|
      = render 'item', :host => host

= will_paginate @collection, :prev_label => "&laquo; Back", :next_label => "Next &raquo;"
 
