%h1.heading
  = "Host %s" % @host.id
  
- content_tag_for(:dl, @host) do
  %dt.label= 'Name'
  %dd.name= h @host.try(:name)
  %dt.label= 'Address'
  %dd.address= h @host.try(:address)
  %dt.label= 'Application'
  %dd.address= @host.application ? link_to(h(@host.application.name), customer_application_path(@host.application.customer_id, @host.application)) : "Host is currently not assigned to an application"
  
%h3 Checks
%p.actions
  = link_to 'Add check', new_host_check_path(@host)
= render :partial => "checks/checks", :object => @host.checks  
  
%p.actions
  = link_to 'Edit', edit_host_path(@host)
  = link_to 'Index', hosts_path